<div class="app-container" [class.dark-theme]="themeService.isDarkMode" [class.light-theme]="!themeService.isDarkMode">
  
  <p-toolbar styleClass="main-toolbar">
    <ng-template #start>
      <div class="toolbar-logo">
        <div class="logo-text">
          <h1>{{label.titulo}}</h1>
        </div>
      </div>
    </ng-template>
    
    <ng-template #end>
       <div class="projects-badge">
      <app-theme-toggle></app-theme-toggle>
    </div>
    </ng-template>
  </p-toolbar>

  <main class="main-content">
    <app-organizer-page></app-organizer-page>
  </main>

  <footer class="main-footer">
  <div class="footer-container">
    <div class="footer-brand">
      <a href="#" class="brand-badge">
        <i class="brand-icon pi pi-box"></i>
        <span>Vico-Proyectos</span>
      </a>
    </div>
  </div>
</footer>

</div>